@page "/pokeapi/{pokemonId}"
@using Pokedex.Components.Models
@using Pokedex.Components.Util
@inject PokeClient client

<div class="container my-5">
    @if (poke != null)
    {
        <!-- Main Image and Artwork Section -->
        <div class="row mb-6">
            <div class="col-md-6 text-center">
                <img src="@poke.sprites.other.dream_world.front_default" alt="@poke.name" class="pokemon-main-img">
            </div>
            <div class="col-md-6">
                <h2><strong>@poke.name.ToUpper()</strong></h2>
                <p><strong>Height:</strong> @poke.height m</p>
                <p><strong>Weight:</strong> @poke.weight kg</p>
                <p>
                    <strong>Abilities:</strong>
                    @foreach (var ability in poke.abilities)
                    {
                        <span>@ability.ability.name</span>

                        @(ability.is_hidden ? " (Hidden)" : "")

                        @((poke.abilities.Last() != ability) ? ", " : "")
                    }
                </p>
                <p>
                    <strong>Type:</strong>
                    @foreach (var type in poke.types)
                    {
                        <span class="badge" style="background-color: @TypeColor.GetColor(type.type.name); color: white;">@type.type.name.ToUpper()</span>
                    }
                </p>
            </div>
        </div>

        <!-- Base Stats Section -->
        <div class="resp-scroll">
            <table class="vitals-table">
                <tbody>
                    @foreach (var stat in poke.stats)
                    {
                        <tr>
                            <th>@stat.stat.name.ToUpper()</th>
                            <td class="cell-num">@stat.base_stat</td>
                            <td class="cell-barchart">
                                <div class="barchart-bar"
                                     style="width: @(stat.base_stat * 100 / 255)%; background-color: @(StatColor.GetColor(stat.stat.name));">
                                </div>
                            </td>
                            <td class="cell-num">@CalculateStat.GetMinValue(stat.base_stat)</td>
                            <td class="cell-num">@CalculateStat.GetMaxValue(stat.base_stat)</td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <th>Total</th>
                        <td class="cell-num cell-total">@poke.stats.Sum(s => s.base_stat)</td>
                        <th class="cell-barchart"></th>
                        <th>Min</th>
                        <th>Max</th>
                    </tr>
                </tfoot>
            </table>
        </div>

    }
    else
    {
        <div class="text-center my-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
            <p>Loading Pokémon...</p>
        </div>
    }
</div>

@code {
    [Parameter]
    public string pokemonId { get; set; } = "";

    Pokemon? poke;

    protected override async Task OnInitializedAsync()
    {
        poke = await client.GetPokemon(pokemonId);
    }
}
